/*! CSS Used from: https://lusaxweb.github.io/vuesax/assets/css/0.styles.c855dc77.css */

* {
  font-family: OpenSans, arial;
}

.content:not(.custom) img {
  max-width: 100%;
}

.card {
  width: calc(100% - 10px);
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 40px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 40px -8px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.card > div {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.card > div:first-child,
.card > div:first-child > img {
  border-top-right-radius: 8px !important;
  border-top-left-radius: 8px !important;
}

.card-body {
  padding: 16px;
}

.card-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
}

.card-header .card-icon,
.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-header .card-icon {
  margin: 10px;
}

.card-header .card-icon i {
  font-size: 1.5rem;
  margin-right: 0;
}

.card-header .card-titles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8px;
  margin-left: 10px;
}

.card-header .card-titles .card-title {
  font-size: 1.5rem;
}

.card-header .card-titles .card-subtitle {
  font-size: 0.8rem;
}

.card-media {
  position: relative;
}

.card-media img {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: block;
  vertical-align: top;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: none;
  text-decoration: none;
}

* {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*! CSS Used fontfaces */

@font-face {
  font-family: OpenSans;
  src: url(https://lusaxweb.github.io/vuesax/assets/fonts/OpenSans-Regular.629a55a7.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
